# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.venv/

# Git & VCS
.git/
.gitignore

# Editor configs
.vscode/
.idea/
*.swp

# System files
.DS_Store
Thumbs.db

# Data files (eğer gerekiyorsa dışarıdan alın)
*.csv
*.tsv

# Logs & reports
*.log
*.out
*.pid

# Notebooks
*.ipynb
.ipynb_checkpoints/

# Env files
.env
.env.*
